.order-tikets {
    .wrap-img {
        .wrapper-inner {
            background-color: $purple-dark;

            @media only screen and (max-width: #{$global-breakpoint}) {
                background-position: 35% !important;
            }

            .columns {
                p {
                    margin: 0 !important;
                }
                padding-bottom: 0 !important;
                @media only screen and (min-width: #{$global-breakpoint}) {
                    padding-left: 48px !important;
                    padding-right: 48px !important;
                }

                @media only screen and (max-width: #{$global-breakpoint}) {
                    padding-left: 12px !important;
                    padding-right: 12px !important;
                }
            }
        }
    }

    // TICKETS

    .ticket {
        .wrapper-inner {
            padding-bottom: 24px;
            .ticket-wrap {
                display: inline-block;
                border: 1px solid #b9c1cd;
                border-radius: 8px;
                width: 100%;

                .text-body {
                    @media only screen and (min-width: #{$global-breakpoint}) {
                        padding: 0 12px 16px 12px !important;
                    }

                    @media only screen and (max-width: #{$global-breakpoint}) {
                        padding: 0 12px 12px 12px !important;
                    }

                    p {
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 500;
                        color: $grey;
                        margin: 0 0 12px 0 !important;

                        &.text-last {
                            margin: 0 !important;
                        }

                        span {
                            color: $black;

                            @media only screen and (max-width: #{$global-breakpoint}) {
                                display: block;
                            }
                        }
                    }
                }

                .combo-body {
                    padding: 0 !important;
                    border-right: 1px dashed $dark-gray;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;

                    @media only screen and (max-width: #{$global-breakpoint}) {
                        border-bottom-left-radius: 0px !important;
                        border-top-right-radius: 8px;
                        border-right: 0 !important;
                        border-bottom: 1px dashed $dark-gray;
                    }

                    .combo-img {
                        center {
                            min-width: auto;
                        }
                    }

                    .combo-bingo {
                        > .columns {
                            padding-bottom: 0 !important;
                        }

                        .combo-columns {
                            padding-bottom: 0 !important;

                            .body-columns:first-child {
                                .columns:first-child {
                                    table {
                                        border-top-left-radius: 4px;
                                    }
                                }
                                .columns:last-child {
                                    table {
                                        border-top-right-radius: 4px;
                                    }
                                }
                            }

                            .body-columns:last-child {
                                .columns:first-child {
                                    table {
                                        border-bottom-left-radius: 4px;
                                    }
                                }
                                .columns:last-child {
                                    table {
                                        border-bottom-right-radius: 4px;
                                    }
                                }
                            }

                            .body-columns {
                                .columns {
                                    padding: 0.5px !important;

                                    @media only screen and (max-width: #{$global-breakpoint}) {
                                        display: table-cell !important;
                                    }

                                    table {
                                        background-color: $white;

                                        th {
                                            vertical-align: middle;
                                            text-align: center;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .combo-digital {
                        .combo-columns {
                            p {
                                color: $white;
                                font-size: 12px;
                                line-height: 15px;
                                margin: 0px 0px 0px 2px !important;
                            }
                            .body-columns {
                                .columns {
                                    padding: 1px !important;

                                    @media only screen and (max-width: #{$global-breakpoint}) {
                                        display: table-cell !important;
                                    }
                                }

                                .combo-number {
                                    table {
                                        background-color: $black;
                                        color: $white;
                                        width: 22px;
                                        height: 22px;
                                        border-radius: 4px;

                                        th {
                                            color: $white;
                                            vertical-align: middle;
                                            text-align: center;
                                        }
                                    }

                                    &_clear {
                                        background-color: transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.digital8-20 {
            .combo-body {
                background-image: linear-gradient(90deg, #e84fa5 0%, #7a388d 100%);
                background-color: #e84fa5;
            }
        }

        &.digital5-50 {
            .combo-body {
                background-image: linear-gradient(90deg, #447acf 0%, #1451b1 100%);
                background-color: #447acf;
            }
        }

        &.digital-speed {
            .combo-body {
                background-image: linear-gradient(90deg, #984baf 0%, #5b2b94 100%);
                background-color: #984baf;
            }
        }

        &.bingo90 {
            .wrapper-inner {
                .ticket-wrap {
                    .combo-body {
                        background-image: linear-gradient(90deg, #78c0f2 0%, #6d9de2 100%);
                        background-color: #78c0f2;

                        .combo-bingo {
                            table {
                                width: 21px;
                                height: 21px;
                            }
                        }
                    }
                }
            }
        }

        &.bingo75 {
            .combo-body {
                background-image: linear-gradient(90deg, #fbb225 0%, #f37914 100%);
                background-color: #fbb225;

                .combo-bingo {
                    table {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }

        &.bingo3x3 {
            .combo-body {
                background-image: linear-gradient(90deg, #5fb6ee 0%, #834ab1 100%);
                background-color: #5fb6ee;

                .combo-bingo {
                    table {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}
