<!-- <row>
                    <columns large="6">
                        <h5 class="black size14 w500">Национальная лотерея в соцсетях</h5>
                        <menu>
                            <item>
                                <img src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430730/twitter_vn9lma.png"
                                    alt="twitter" />
                            </item>
                            <item>
                                <img src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430740/whatsapp_ncougt.png"
                                    alt="whatsapp" />
                            </item>
                            <item>
                                <img src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430725/odnoklassniki_x0lkfg.png"
                                    alt="odnoklassniki" />
                            </item>
                            <item>
                                <img src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430735/vk_yocjso.png"
                                    alt="vk" />
                            </item>
                            <item>
                                <img src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430713/instagram_salss8.png"
                                    alt="instagram" />
                            </item>
                            <item>
                                <img src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430705/facebook_mzkqny.png"
                                    alt="facebook" />
                            </item>
                        </menu>
                    </columns>
                    <columns large="6" class="pb0"></columns>
                </row> -->