<container class="footer">
    <wrapper>
        <spacer size-lg="16" size-sm="12"></spacer>
        <row>
            <columns class="col-wrap">
                <row>
                    <h5 class="black size14 w500">Mobile app</h5>
                </row>
                <row>
                    <columns large="12" small='12'>
                        <a href="#">
                            <img class="img-app"
                                src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430691/android_gljdwq.png"
                                alt="android" />
                        </a>
                        <a href="#">
                            <img class="img-app"
                                src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430721/ios_obbufm.png"
                                alt="ios" />
                        </a>
                    </columns>
                </row>
                <spacer size-lg="16" size-sm="8"></spacer>
                <row>
                    <columns large="11" class="pb0">
                        <p class="black size16 w500">
                            <strong>Call the hotline: 8 888 888-8-888</strong>
                        </p>
                        <p class="grey size14 w500">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.
                        </p>
                        <row>
                            <columns large="11" small="11" class="pb0">
                                <p class="grey size14 w500 mb0 bottom-text">©2020 «Fake Lottery</p>
                            </columns>
                            <columns large="0.5" small="1" class="pb0">
                                <img class='img-age'
                                    src="https://res.cloudinary.com/dpwmtx3bn/image/upload/v1642430488/age18_gjsypb.png"
                                    alt="age18" />
                            </columns>
                        </row>
                    </columns>
                </row>
            </columns>
        </row>
        <spacer size-lg="16" size-sm="12"></spacer>
    </wrapper>
</container>