<wrapper class="header">
    <container>
        <row>
            <columns class='col-wrap'>
                <spacer size-lg="16" size-sm="12"></spacer>
                <row>
                    <columns class="col" large="3" small="6">
                        <h1>Long title of fake lottery</h1>
                    </columns>
                    <columns class="col" large="6" small="12"></columns>
                    <columns class="col" large="3" small="12">
                        <spacer size-lg="12" size-sm="16"></spacer>
                        <a class="black size14 w500" href="#">Link 1</a>
                        <span class="link-delimiter">|</span>
                        <a class="black size14 w500" href="#">
                            Link 2
                        </a>
                    </columns>
                </row>
                <spacer size-lg="16" size-sm="12"></spacer>
            </columns>
        </row>
        <wrapper class='border'></wrapper>
    </container>
</wrapper>